<br>
<div class="row">
    <h2><center>Surveys</center></h2><hr>
</div>

<div id="mainsurveys">
<div class="row"><center>
  <h5 class="large-1 columns">User:</h5>
  <h5 class="large-1 columns">Score:</h5>
  <h5 class="large-1 columns">Employer:</h5>
  <h5 class="large-4 columns">Reason For Score:</h5>
  <h5 class="large-3 columns">Survey Comment:</h5>
  <h5 class="large-2 columns">Date:</h5></center>
  <br>
  <hr>
</div>
<% @surveys.each do |survey| %>
  <div class="row"><center>
    <div class="large-1 columns"><b><%= survey.user_name %></b></div>
    <div class="large-1 columns"><b><%= survey.question_one %></b>/10</div>
    <div class="large-1 columns"><%= survey.employer %></div>
    <div class="large-4 columns"><%= survey.question_2_value %></div>
    <div class="large-3 columns"><%= survey.comment %><br><br></div>
    <div class="large-2 columns"><%= survey.created_at.to_date %></div></center>
    <br>
    <hr>
  </div>
<% end %>
</div>

<div class="row">
  <div class="large-3 large-centered columns">
    <a id="showbar" class="button">Show Bar Graph</a>
  </div>
</div>

<div class="row hidden" id="hiddenbar">
  <div class="large-2 columns names">
    <% @surveys.each do |user| %>
      <%= user.user_name %><br>
    <% end %>
    <br>
  </div>
  <div class="chart large-10 columns"></div>
  <hr>
</div>

<div id="hidebar" class="row hidden">
  <div class="large-3 large-centered columns">
    <br>
    <a class="button">Hide Bar Graph</a>
  </div>
</div>
