<div class="row">
<h1>Edit <Client></Client></h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</div>


<%= javascript_tag do %>
  window.product = <%= raw Product.limit(1000).order("RAND()").to_json %>
  window.product = <%= raw Product.limit(7500).order('size desc').to_json %>
  $("#surveys").removeClass('active');
  $("#health").addClass('active');
<% end %>