<br>
<div class="row">
  <h2><center>Customer Health</center></h2><hr>

<div id="showbubbles">
  <center>
  <div class="small-3 small-centered columns">
    <br>
    <a class="button">Show Health Graph</a>
  </div>
  </center>
</div>

<div class="row ">
  <div id="svgg" class="large-12 large-centered columns hidden"></div>
</div>


<div id="hidebubbles" class="hidden">
  <div class="large-3 large-centered columns">
    <br>
    <a class="button">Hide Health Graph</a>
  </div>
</div>

  <hr>


  <%= javascript_tag do %>
  window.product = <%= raw Product.limit(1000).order("RAND()").to_json %>
    window.product = <%= raw Product.limit(7500).order('size desc').to_json %>

<% end %>


<div class="row">
  <div class="large-12 large-centered columns">
    <h3><center>
      Import Client Health Data
    </center>
    </h3>
  </div>
  <div class="small-3 small-centered columns">
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  </div>
</div>
  <hr>


  <div class="row">
<h1><center>Client List</center></h1>

<table>
  <thead>
    <tr>
      <th>Account name</th>
      <th>Total fees</th>
      <th>Healthscore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.size %></td>
        <td><%= product.healthscore %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
