<p id="notice"><%= notice %></p>

<p>
  <strong>Client Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Total Fees:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Healthscore:</strong>
  <%= @product.healthscore %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
